---
import Icon from 'astro-icon';

interface Props {
  icon: string;
  href: string;
  alt: string;
  iconSize?: string;
  isLocal?: boolean;
}

const {
  icon,
  href,
  alt,
  iconSize = '24',
  isLocal = true,
} = Astro.props as Props;
---

<a
  href={href}
  rel={isLocal ? undefined : 'noopener noreferrer'}
  target={isLocal ? undefined : '_blank'}
  class="link-icon"
  title={alt}
  area-label={alt}
>
  <Icon name={icon} size={iconSize} class="link-icon-st" />
</a>

<style>
  .link-icon {
    cursor: pointer;
  }

  .link-icon-st {
    transition: color var(--transition-duration);
  }

  .link-icon-st:hover {
    color: gray;
  }
</style>
