---
import { Icon } from 'astro-icon';

interface Props {
  link: string;
  alt: string;
  icon?: string;
  iconSize?: string;
  title?: string;
  id?: string;
  isLocal?: boolean;
}

const {
  link,
  alt,
  icon,
  iconSize = '18',
  title,
  id,
  isLocal = true,
} = Astro.props as Props;
---

<a
  href={link}
  rel={isLocal ? undefined : 'noopener noreferrer'}
  target={isLocal ? undefined : '_blank'}
  title={alt}
  id={id}
  class="link-box"
>
  {icon && <Icon name={icon} size={iconSize} />}
  {title && <>{title}</>}
</a>

<style>
  .link-box {
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--transition-duration);
    gap: 0.5rem;
    padding: 0.8rem 2rem;
  }

  .link-box:hover {
    border: var(--border-size) solid var(--primary-color);
    background-color: var(--border-color);
    color: var(--primary-color);
  }

  .link-box:hover > [astro-icon] {
    fill: var(--secondary-text-color);
    color: var(--secondary-text-color);
  }
</style>
