---
import { Icon } from 'astro-icon';

interface Props {
  link: string;
  icon?: string;
  iconSize?: string;
  title?: string;
  alt?: string;
  id?: string;
}

const { link, icon, iconSize = '18', title, alt, id } = Astro.props as Props;
---

<a
  href={link}
  target="_blank"
  title={alt ?? title ?? link}
  area-label={alt ?? title ?? link}
  rel="noopener noreferrer"
  id={id}
>
  <div class="link-box">
    <Icon name={icon} size={iconSize} />
    {title && <span>{title}</span>}
  </div>
</a>

<style>
  .link-box {
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--transition-duration);
    gap: 0.5rem;
    padding: 0.8rem 0.4rem;
  }

  .link-box:hover {
    border: var(--border-size) solid var(--primary-color);
    background-color: var(--border-color);
    color: var(--primary-color);
  }

  .link-box:hover > [astro-icon] {
    fill: var(--text-color-inv);
    color: var(--text-color-inv);
  }
</style>
