---
import Tags from '@components/data/Tags.astro';
import Icon from 'astro-icon';
import Description from './Description.astro';
import Link from './Link.astro';

interface Props {
  image?: string;
  category: string;
  publishedAt: string;
  title: string;
  description: string;
  tags: string[];
  href: string;
}

const { image, category, publishedAt, title, description, tags, href } =
  Astro.props;
---

<div class="post-card">
  {image && <img src={image} alt={`Post - ${title}`} class="post-card-img" />}
  <span class="post-card-info">
    {publishedAt} •
    <Link
      title={category}
      alt="See all posts with this category"
      href={`/blog/categories/${category}`}
    />
  </span>
  <div class="post-card-header">
    <h3>{title}</h3>
  </div>
  <Tags values={tags} target="tags" />
  <Description
    value={description}
    margin="0"
    align={false}
    fontSize="0.9em"
    maxLine="3"
  />
  <div class="post-card-read-more">
    <Link title="Read more" href={`/blog/${href}`} alt="Read more about" />
    <Icon name="mdi:arrow-right-thin" width="18" />
  </div>
</div>

<style>
  .post-card {
    min-height: 22rem;
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--padding);
    transition: all var(--transition-duration);
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  h3 {
    margin: 0;
  }

  .post-card-img {
    height: 60%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
  }

  .post-card-info {
    font-size: 0.85em;
    font-style: italic;
  }

  .post-card-read-more {
    display: flex;
    align-items: center;
  }
</style>
