---
import Description from './Description.astro';
import Divider from './Divider.astro';
import LinkIcon from './LinkIcon.astro';
import Title from './Title.astro';

interface Props {
  title: string;
  description: string;
  url: string;
  git: string;
  alt?: string;
  height?: string;
  width?: string;
}

const {
  title,
  description,
  url,
  git,
  alt,
  height = 'var(--project-lb-height)',
  width = 'var(--project-lb-width)',
} = Astro.props as Props;
---

<div class="project-item">
  <div class="item-header">
    <Title title={title} url={url} alt={alt} fontSize="0.9em" />
    <LinkIcon git={git} alt={title + ' - Github'} iconSize="18" />
  </div>
  <Divider width="100%" margin="0 0" />
  <Description value={description} width="100%" />
</div>

<style define:vars={{ height, width }}>
  .project-item {
    height: var(--height);
    width: var(--width);
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    padding: 0.2rem 0.7rem;
    transition: all var(--transition-duration);
  }

  .item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
