---
interface Props {
  message: string;
  href?: string;
  id?: string;
  messageId?: string;
  position?: 'bottom' | 'top' | 'left' | 'right';
}

const { message, href, id, messageId, position = 'top' } = Astro.props;
---

<div class="tooltip" data-href={href} id={id}>
  {
    message && (
      <span class={`tooltip-message ${position}`} id={messageId}>
        <Fragment set:html={message} />
      </span>
    )
  }
  <slot />
</div>

<style>
  .tooltip {
    position: relative;
    display: inline;
  }

  .tooltip-message {
    visibility: hidden;
    width: 120px;
    background-color: var(--contrast-color);
    color: var(--secondary-text-color);
    text-align: center;
    border-radius: var(--border-radius);
    padding: 0.4rem;
    position: absolute;
    font-size: 0.85em;
  }

  .tooltip:hover .tooltip-message {
    visibility: visible;
  }

  .tooltip-message.top {
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
  }

  .tooltip-message.bottom {
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
  }

  .tooltip-message.left {
    top: 50%;
    right: 110%;
    transform: translateY(-50%);
  }

  .tooltip-message.right {
    top: 50%;
    left: 110%;
    transform: translateY(-50%);
  }
</style>
