---
import { getFormatedDate } from '@lib/date';
import { getReadTime } from '@lib/time';
import Description from '../Description.astro';
import Title from '../Title.astro';

interface Props {
  image: string;
  href: string;
  title: string;
  description: string;
  publishedAt: string;
  body: string;
}

const { image, href, title, description, publishedAt, body } = Astro.props;
---

<a href={href} class="blog-item">
  <img src={image} alt="" class="blog-item-image" />
  <div class="blog-item-info">
    <span class="blog-item-info-publish">
      {getFormatedDate(publishedAt)}
       •
      {getReadTime(body)}
    </span>
    <Title title={title} margin="0" fontSize="1.1em" align={false} />
    <Description
      value={description}
      margin="0"
      fontSize="0.8em"
      align={false}
      maxLine="3"
    />
  </div>
</a>

<style>
  .blog-item {
    height: 10rem;
    width: 100%;
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    padding: var(--card-padding);
    box-sizing: border-box;
    gap: 1rem;
    transition: all var(--transition-duration);
  }

  .blog-item:hover {
    background-color: var(--secondary-color);
  }

  .blog-item-info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  .blog-item-image {
    width: 12rem;
    border-radius: var(--border-radius);
    object-fit: cover;
  }

  .blog-item-info-publish {
    font-size: 0.8em;
  }

  @media (max-width: 560px) {
    .blog-item {
      height: fit-content;
      flex-direction: column;
    }

    .blog-item-image {
      width: 100%;
    }
  }
</style>
