---
import Tags from '@components/data/Tags.astro';
import { getFormatedDate } from '@lib/date';
import Description from '../Description.astro';
import Link from '../Link/Link.astro';

interface Props {
  image?: string;
  category: string;
  publishedAt: string;
  title: string;
  description: string;
  tags: string[];
  href: string;
  maxTags?: number;
}

const {
  image,
  category,
  publishedAt,
  title,
  description,
  tags,
  href,
  maxTags = 5,
} = Astro.props;
---

<div class="post-card">
  {
    image && (
      <a href={`/blog/${href}`} title={`Read more about: ${title}`}>
        <img src={image} alt={`Post - ${title}`} class="post-card-img" />
      </a>
    )
  }
  <div class="post-card-info">
    <span class="post-card-info-left">
      <span>{getFormatedDate(publishedAt)}</span> •
      <Link
        title={category}
        alt="See all posts with this category"
        href={`/blog/categories/${category}`}
      />
    </span>
  </div>
  <Tags values={tags.slice(0, maxTags)} target="tags" active />
  <div class="post-card-header">
    <h3>{title}</h3>
  </div>
  <Description
    value={description}
    margin="0"
    align={false}
    fontSize="0.9em"
    maxLine="3"
  />
  <div class="post-card-read-more">
    <Link
      href={`/blog/${href}`}
      alt="Read more about"
      title="Read post"
      icon="mdi:arrow-right-thin"
      iconSide="right"
      hasBorderBottom={false}
      animatedIcon
      reverseAnimation
    />
  </div>
</div>

<style>
  .post-card {
    min-height: 22rem;
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius);
    padding: var(--card-padding);
    transition: all var(--transition-duration);
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  h3 {
    margin: 0;
  }

  .post-card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
  }

  .post-card-info {
    font-size: 0.85em;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .post-card-info-left {
    display: flex;
    gap: 0.4rem;
  }

  .post-card-read-more {
    display: flex;
    align-items: center;
  }
</style>
