---
import PostShare from '@components/data/Post/PostShare.astro';
import headConfig from '@constants/head';
import { Icon } from 'astro-icon/components';
import { useLocale } from 'i18n';

interface Props {
  link: string;
  linkedin: string;
  twitter: string;
  reddit: string;
  bluesky: string;
}

const { t } = useLocale(Astro.url.pathname);

const { link, linkedin, twitter, reddit, bluesky } = Astro.props;
---

<div class="post-extra-share">
  <span class="post-extra-share-left">
    <Icon name="mdi:cards-heart" width={18} />
    {t('post.share.title')}
  </span>
  <PostShare
    items={[
      {
        href: linkedin,
        icon: 'simple-icons:linkedin',
        alt: t('post.share.linkedin_alt'),
        event: `Post Share (Footer) - Linkedin (${link})`,
      },
      {
        href: twitter,
        icon: 'simple-icons:x',
        alt: t('post.share.twitter_alt'),
        event: `Post Share (Footer) - X (Twitter) (${link})`,
      },
      {
        href: reddit,
        icon: 'simple-icons:reddit',
        alt: t('post.share.reddit_alt'),
        event: `Post Share (Footer) - Reddit (${link})`,
      },
      {
        href: bluesky,
        icon: 'simple-icons:bluesky',
        alt: t('post.share.bluesky_alt'),
        event: `Post Share (Footer) - Blueksy (${link})`,
      },
      {
        href: headConfig.shortLink + link,
        icon: 'mdi:link',
        alt: t('post.share.copy_link_alt'),
        id: 'share',
        messageId: 'share-title',
        event: `Post Share (Footer) - Copy link (${link})`,
      },
    ]}
  />
</div>

<style>
  .post-extra-share {
    width: 100%;
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: var(--card-padding);
    gap: 1rem;
  }

  .post-extra-share-left {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.4rem;
  }

  @media (max-width: 670px) {
    .post-extra-share {
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }

    .post-extra-share-left {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }
  }
</style>
