---
import Link from '@components/core/Link/Link.astro';
import PostCard from '@components/core/Post/PostCard.astro';
import SubTitle from '@components/core/SubTitle.astro';
import { getAllPosts } from '@lib/blog';
import { createLocale } from 'i18n';

const { locale } = createLocale(Astro.url.pathname);
const posts = await getAllPosts(true, true, locale);
---

{
  posts.length > 0 && (
    <section class="posts-section">
      <div class="posts-header">
        <SubTitle title="Posts" />
        <Link
          href="/blog/"
          alt="See more posts"
          title="See more"
          icon="mdi:arrow-right"
          iconSide="right"
          hasBorderBottom={false}
          animatedIcon
          event={`Posts (${Astro.url.pathname})`}
        />
      </div>

      <div class="posts-container">
        {posts.slice(0, 2).map((e) => (
          <PostCard
            image={e.data.image.src}
            href={e.slug}
            title={e.data.title}
            description={e.data.description}
            publishedAt={e.data.publishedAt}
            body={e.body}
            category={e.data.category}
            tags={e.data.tags}
          />
        ))}
      </div>
    </section>
  )
}

<style>
  .posts-section {
    height: max-content;
    width: 100%;
  }

  .posts-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .posts-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
