---
import Link from '@components/core/Link/Link.astro';
import MiniPostCard from '@components/core/Post/MiniPostCard.astro';
import SubTitle from '@components/core/SubTitle.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<div class="posts">
  <div class="posts-header">
    <SubTitle title="Posts" />
    <Link
      href="/blog/"
      alt="See more posts"
      title="See more"
      icon="mdi:arrow-right"
      iconSide="right"
      hasBorderBottom={false}
      animatedIcon
    />
  </div>

  <div class="posts-container">
    {
      posts
        .slice(0, 2)
        .map((e) => (
          <MiniPostCard
            image={e.data.image}
            href={`/blog/${e.slug}`}
            title={e.data.title}
            description={e.data.description}
            publishedAt={e.data.publishedAt}
          />
        ))
    }
  </div>
</div>

<style>
  .posts {
    height: max-content;
    width: 80%;
  }

  .posts-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .posts-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
