---
import MiniProjectCard from '@components/core/Project/MiniProjectCard.astro';
import SubTitle from '@components/core/SubTitle.astro';
import { projects } from '@constants/projects';
import Icon from 'astro-icon';
---

<div class="projects">
  <div class="projects-header">
    <SubTitle title="Projects" />
    <a href="/projects/" title="See more projects" class="projects-see-more">
      See more
      <Icon name="mdi:arrow-right" size="18" />
    </a>
  </div>

  <div class="projects-container">
    {
      projects
        .slice(0, 2)
        .map((data) => (
          <MiniProjectCard
            title={data.title}
            description={data.description}
            git={data.git}
            url={data.url}
            image={data.image}
          />
        ))
    }
  </div>
</div>

<style>
  .projects {
    height: max-content;
    width: 80%;
  }

  .projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .projects-see-more {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    transition: gap 0.2s;
  }

  .projects-see-more:hover {
    cursor: pointer;
    gap: 0.2rem;
  }

  .projects-container {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
</style>
