---
import Link from '@components/core/Link/Link.astro';
import MiniProjectCard from '@components/core/Project/MiniProjectCard.astro';
import SubTitle from '@components/core/SubTitle.astro';
import { projects } from '@constants/projects';
---

<section class="projects-section">
  <div class="projects-header">
    <SubTitle title="Projects" />
    <Link
      href="/projects/"
      alt="See more projects"
      title="See more"
      icon="mdi:arrow-right"
      iconSide="right"
      hasBorderBottom={false}
      animatedIcon
      event=`Projects (${Astro.url.pathname})`
    />
  </div>

  <div class="projects-container">
    {
      projects
        .slice(0, 2)
        .map((data) => (
          <MiniProjectCard
            title={data.title}
            description={data.description}
            git={data.git}
            url={data.url}
            image={data.image}
          />
        ))
    }
  </div>
</section>

<style>
  .projects-section {
    height: max-content;
    width: 100%;
  }

  .projects-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .projects-container {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
</style>
