---
import LinkBox from '@components/core/Link/LinkBox.astro';
import SubTitle from '@components/core/SubTitle.astro';
import Tooltip from '@components/core/Tooltip.astro';
import { links } from '@constants/links';
import { socials } from '@constants/socials';

interface Props {
  hasTitle?: boolean;
}

const { hasTitle = true } = Astro.props;
---

<section class="socials-section">
  <div class="socials-header">
    {hasTitle && <SubTitle title="Socials" />}
  </div>
  <div class="socials-container">
    {
      links.map((data) => (
        <Tooltip message={data.name}>
          <LinkBox
            href={data.url}
            icon={data.icon}
            iconSize="1em"
            padding="0.6rem"
            alt={data.alt}
            isLocal={false}
            event={data.event + ` (${Astro.url.pathname})`}
          />
        </Tooltip>
      ))
    }
    {
      socials.map((data) => (
        <Tooltip message={data.name}>
          <LinkBox
            href={data.url}
            icon={data.icon}
            iconSize="1em"
            padding="0.6rem"
            alt={data.alt}
            isLocal={false}
            event={data.event + ` (${Astro.url.pathname})`}
          />
        </Tooltip>
      ))
    }
  </div>
</section>

<style>
  .socials-section {
    height: max-content;
    width: 100%;
  }

  .socials-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .socials-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
</style>
