---
import LinkBox from '@components/core/Link/LinkBox.astro';
import SubTitle from '@components/core/SubTitle.astro';
import { links } from '@constants/links';
import { socials } from '@constants/socials';

interface Props {
  hasTitle?: boolean;
}

const { hasTitle = true } = Astro.props;
---

<div class="socials">
  <div class="socials-header">
    {hasTitle && <SubTitle title="Socials" />}
  </div>
  <div class="socials-container">
    {
      links.map((data) => (
        <LinkBox
          href={data.url}
          icon={data.icon}
          title={data.name}
          alt={data.alt}
          isLocal={false}
          event={data.event + ` (${Astro.url.pathname})`}
          gridColumn="auto / span 3"
        />
      ))
    }
    {
      socials.map((data) => (
        <LinkBox
          href={data.url}
          icon={data.icon}
          alt={data.alt}
          isLocal={false}
          event={data.event + ` (${Astro.url.pathname})`}
          gridColumn="auto / span 2"
        />
      ))
    }
  </div>
</div>

<style>
  .socials {
    height: max-content;
    width: 80%;
  }

  .socials-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .socials-container {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(6, minmax(1rem, 1fr));
    gap: 1rem;
  }
</style>
