---
import Tag from '@components/core/Tag.astro';
import { getPostLength } from '@lib/blog';
import { useLocale } from 'i18n';

interface Props {
  values: string[];
  target: string;
  title?: string;
  showLength?: boolean;
  id?: string;
  center?: boolean;
  active?: boolean;
  wrapContent?: boolean;
}

const { localizePath, t, locale } = useLocale(Astro.url.pathname);

const {
  title,
  target,
  values,
  id,
  center = false,
  showLength = false,
  active = false,
  wrapContent = true,
} = Astro.props;
const justifyContent = center ? 'center' : 'initial';
const flexWrap = wrapContent ? 'wrap' : 'nowrap';
---

<div id={id}>
  {title && <h2>{title}</h2>}
  <div class="tags-list">
    {
      values.map(async (tag) => {
        const filteredPosts = showLength
          ? await getPostLength(locale, tag, target)
          : null;
        return (
          <Tag
            value={tag + (filteredPosts ? ` (${filteredPosts})` : '')}
            href={localizePath(`/blog/${target}/${tag}`)}
            active={active}
            title={t('post.tags_see_more_alt', { tag })}
          />
        );
      })
    }
  </div>
</div>

<style define:vars={{ justifyContent, flexWrap }}>
  .tags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: var(--flexWrap);
    overflow: hidden;
    justify-content: var(--justifyContent);
    gap: 0.5rem;
    font-size: 0.9em;
  }
</style>
