---
import Divider from '@components/core/Divider.astro';
import Link from '@components/core/Link.astro';
import PostCard from '@components/core/PostCard.astro';
import Title from '@components/core/Title.astro';
import Container from '@components/data/Container.astro';
import Layout from '@layouts/Layout.astro';
import { getAllPosts } from '@lib/blog';
import { getFormatedDate } from '@lib/date';

const posts = await getAllPosts();
---

<Layout
  title="Blog"
  description="A minimalist developer blog with thoughts, ideas and other stuff "
  shortlink="/blog"
>
  <Container>
    <span>
      <Link title="Projects" href="/projects" alt="See all projects" /> •
      <Link title="Lucas Josino" href="/" alt="Homepage" />
    </span>
    <Title title="Blog" fontSize="2.5em" />
    <Divider height="1px" width="80%" />
    <div class="posts">
      {
        posts.map((post) => {
          return (
            <PostCard
              image={post.data.image}
              title={post.data.title}
              description={post.data.description}
              href={`${post.slug}/`}
              publish_date={getFormatedDate(post.data.publishedAt)}
              tags={post.data.tags}
            />
          );
        })
      }
    </div>
  </Container>
</Layout>

<style>
  .posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
    gap: 1rem;
  }
</style>
