---
import headConfig from '@constants/head';

export interface Props {
  title: string;
  description: string;
  imageUrl?: string;
}

const { title, description, imageUrl } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Configurations -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-language" content="en-US" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <!-- Default  -->
    <meta name="copyright" content="© 2022, Lucas Josino. All Rights Reserved."
    />
    <meta name="description" content={description + headConfig.endDescription}
    />
    <meta name="author" content={headConfig.name} />
    <meta name="tags" content={headConfig.tags} />
    <meta name="keywords" content={headConfig.tags} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index,follow" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@lucjosin" />
    <meta name="twitter:site" content="@lucjosin" />
    <meta name="twitter:domain" content={Astro.url} />
    <meta name="twitter:title" content={headConfig.titleStart + title} />
    <meta
      name="twitter:description"
      property="og:description"
      itemprop="description"
      content={description + headConfig.endDescription}
    />
    <meta
      property="twitter:image"
      itemprop="image primaryImageOfPage"
      content={imageUrl ?? './static/icons/logo.svg'}
    />

    <!-- Open Graph -->
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={headConfig.titleStart + title} />
    <meta property="og:site_name" content={headConfig.name} />
    <meta
      property="og:description"
      content={description + headConfig.endDescription}
    />
    <meta property="og:type" content="portfolio" />
    <meta property="og:image" content={imageUrl ?? './static/icons/logo.svg'} />

    <!-- Links -->
    <link rel="shortlink" type="text/html" href="https://lucjos.in/h" />
    <link rel="canonical" href={Astro.url} />

    <!-- Icons -->
    <link
      rel="apple-touch-icon"
      href={imageUrl ?? './static/icons/logo.svg'}
      type="image/png"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href={imageUrl ?? './static/icons/logo.svg'}
    />
    <link
      rel="icon"
      type="image/png"
      href={imageUrl ?? './static/icons/logo.svg'}
    />

    <!-- Astro -->
    <meta name="generator" content={Astro.generator} />

    <!-- Title -->
    <title>{headConfig.titleStart + title}</title>
  </head>
  <body>
    <slot />
    <style>
      :root {
        --primary-color: #fff;
        --secondary-color: #000;

        --divider-color: #000;
        --border-color: #000;

        --color-text: #000;
        --color-text-inv: #fff;
        --color-bg: #fff;
        --color-border: #fff;
      }

      html,
      body {
        scroll-behavior: smooth;
        padding: 0;
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
          Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        overflow-x: hidden;
        background-color: var(--color-bg);
        color: var(--color-text);
      }

      * {
        box-sizing: border-box;
      }

      :global(a) {
        color: var(--color-text);
        text-decoration: none;
      }

      :global(p) {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }

      :global(h1) {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }

      :global(code) {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --primary-color: #101010;
          --secondary-color: #fff;

          --divider-color: #fff;
          --border-color: #fff;

          --color-text: #fff;
          --color-text-inv: #121212;
          --color-bg: #101010;
          --color-border: #101010;
        }
      }
    </style>
  </body>
</html>
