---
import PostCard from '@components/core/Post/PostCard.astro';
import type { CollectionEntry } from 'astro:content';
import { useLocale } from 'i18n';

interface Props {
  posts: CollectionEntry<'blog'>[];
}

const { t } = useLocale(Astro.url.pathname);

const { posts } = Astro.props;
---

<div class="post-releated">
  <h2>{t.post.related_posts}</h2>
  <span class="post-related-items">
    {
      posts.map((item) => {
        return (
          <PostCard
            image={item.data.image.src}
            title={item.data.title}
            description={item.data.description}
            publishedAt={item.data.publishedAt}
            href={item.slug}
            category={item.data.category}
            tags={item.data.tags}
            maxTags={1}
            body={item.body}
          />
        );
      })
    }
  </span>
</div>

<style>
  .post-releated {
    width: 100%;
  }

  .post-related-items {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
</style>
