---
import Background from '@components/core/Background.astro';
import Button from '@components/core/Button.astro';
import Divider from '@components/core/Divider.astro';
import MenuContainer from '@components/data/MenuContainer.astro';
import Layout from '@components/layouts/Layout.astro';

const encodedUrl = encodeURI(`[${Astro.url.pathname}]`);
const encodedCode = encodeURI('Status: 404');
---

<Layout
  title="404"
  description="Hi!, I'm Lucas Josino. Backend Developer. I'm currently working with Java (Spring Boot) development. "
>
  <main>
    <MenuContainer className="menu-404">
      <p class="path">{Astro.url.pathname}</p>
      <h1 class="text404">404</h1>
      <p>This page could not be found.</p>

      <Divider width="80%" />
      <Button title="Go Back" href="/" alt="Go back to home page" />

      <div class="help-container">
        <span class="help"
          >Need help?
          <a
            target="_blank"
            rel="noopener noreferrer"
            href={`https://github.com/LucJosin/lucasjosino.com/issues/new?title=${encodedUrl}&labels=${encodedCode}`}
            class="contact-link"
            >Github
          </a>
           |
          <a
            href=`mailto:contact@lucasjosino.com?subject=[404] Page: ${Astro.url.pathname}`
            class="contact-link"
            target="_blank"
            rel="noopener noreferrer"
            >contact@lucasjosino.com
          </a>
        </span>
      </div>
    </MenuContainer>

    <Background />
  </main>
</Layout>

<style>
  main {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .path {
    font-size: 0.9em;
  }

  .menu-404 {
    z-index: 1;
    position: relative;
  }

  .text404 {
    font-size: 8em;
  }

  .help-container {
    height: 2rem;
    width: fit-content;
    position: absolute;
    bottom: 0;
  }

  .help {
    font-size: 0.8em;
  }

  .contact-link {
    border-bottom: 1px solid transparent;
    transition: var(--transition-duration);
  }

  .contact-link:hover {
    border-bottom: 1px solid var(--contrast-color);
  }

  @media (max-width: 415px) {
    .text404 {
      font-size: 5em;
    }

    .help {
      font-size: 0.7em;
    }
  }
</style>
