---
import Description from '@components/core/Description.astro';
import Divider from '@components/core/Divider.astro';
import Link from '@components/core/Link.astro';
import LinkBox from '@components/core/LinkBox.astro';
import Title from '@components/core/Title.astro';
import Container from '@components/data/Container.astro';
import Layout from '@layouts/Layout.astro';

const encodedUrl = encodeURI(`[${Astro.url.pathname}]`);
const encodedCode = encodeURI('Status: 404');
---

<Layout
  title="404"
  description="Hi!, I'm Lucas Josino. Backend Developer. I'm currently working with Java (Spring Boot) development. "
>
  <Container>
    <Title title="404" fontSize="5em" />
    <Description value="This page could not be found." margin="0" />

    <Divider width="80%" />
    <LinkBox title="Go Back" link="/" alt="Go back to home page" />

    <div class="help-container">
      Need help? Contact using:
      <Link
        title="Github"
        alt="Repository of lucasjosino.com project"
        isLocal={false}
        href={`https://github.com/LucJosin/lucasjosino.com/issues/new?title=${encodedUrl}&labels=${encodedCode}`}
      />
       or
      <Link
        title="contact@lucasjosino.com"
        alt="Email for contact"
        href={`mailto:contact@lucasjosino.com?subject=${encodeURI(
          `[404] Page: ${Astro.url.pathname}`
        )}`}
      />
    </div>
  </Container>
</Layout>

<style>
  .help-container {
    height: 2rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 0.88em;
  }

  @media (max-width: 425px) {
    .help-container {
      bottom: 1rem;
    }
  }
</style>
