---
import Description from '@components/core/Description.astro';
import Divider from '@components/core/Divider.astro';
import Link from '@components/core/Link/Link.astro';
import LinkBox from '@components/core/Link/LinkBox.astro';
import Title from '@components/core/Title.astro';
import Container from '@components/data/Container.astro';
import Layout from '@layouts/Layout.astro';
import { createLocale } from 'i18n';

const { t, h } = createLocale(Astro.url.pathname);

const title = '404';
const description = t[404].description;
---

<Layout title={title} description={description}>
  <Container gap="0.5rem">
    <Title title={title} fontSize="5em" />
    <Divider width="80%" />

    <Description value={t[404].description} margin="0 0 2rem 0" />

    <LinkBox
      title={t[404].go_back}
      href={h('/')}
      alt={t[404].go_back_alt}
      icon="mdi:arrow-left"
    />
  </Container>
  <div class="help-container">
    {t[404].help_message}
    <Link
      title="Github"
      alt={t[404].links.github_alt}
      isLocal={false}
      href={`https://github.com/LucJosin/lucasjosino.com/issues/new`}
    />
    /
    <Link
      title="contact@lucasjosino.com"
      alt={t[404].links.email_alt}
      href="mailto:contact@lucasjosino.com"
    />
  </div>
</Layout>

<style>
  .help-container {
    bottom: 0;
    text-align: center;
    font-size: 0.88em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    flex-wrap: wrap;
    padding: 0 2em;
    z-index: 1;
  }

  @media (max-width: 425px) {
    .help-container {
      bottom: 1rem;
    }
  }
</style>
