---
import Description from '@components/core/Description.astro';
import Divider from '@components/core/Divider.astro';
import Link from '@components/core/Link/Link.astro';
import LinkBox from '@components/core/Link/LinkBox.astro';
import Title from '@components/core/Title.astro';
import Container from '@components/data/Container.astro';
import Layout from '@layouts/Layout.astro';

const encodedUrl = encodeURI(`[${Astro.url.pathname}]`);
const encodedCode = encodeURI('Status: 404');
---

<Layout title="404" description="Page not found!">
  <Container gap="0.5rem">
    <Title title="404" fontSize="5em" />
    <Divider width="80%" />

    <Description
      value="Page not found. Maybe something was deleted or moved."
      margin="0 0 1rem 0"
    />

    <LinkBox
      title="Go Back"
      href="/"
      alt="Go back to home page"
      icon="mdi:arrow-left"
    />
  </Container>
  <div class="help-container">
    Need help? Contact using:
    <Link
      title="Github"
      alt="Repository of lucasjosino.com project"
      isLocal={false}
      href={`https://github.com/LucJosin/lucasjosino.com/issues/new?title=${encodedUrl}&labels=${encodedCode}`}
    />
    or
    <Link
      title="contact@lucasjosino.com"
      alt="Email for contact"
      href={`mailto:contact@lucasjosino.com?subject=${encodeURI(
        `[404] Page: ${Astro.url.pathname}`
      )}`}
    />
  </div>
</Layout>

<style>
  .help-container {
    bottom: 0;
    text-align: center;
    font-size: 0.88em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    flex-wrap: wrap;
    padding: 0 2em;
  }

  @media (max-width: 425px) {
    .help-container {
      bottom: 1rem;
    }
  }
</style>
