---
import Avatar from '@components/core/Avatar.astro';
import Divider from '@components/core/Divider.astro';
import Title from '@components/core/Title.astro';
import Container from '@components/data/Container.astro';
import Posts from '@components/data/Posts.astro';
import Projects from '@components/data/Projects.astro';
import Socials from '@components/data/Socials.astro';
import Layout from '@layouts/Layout.astro';
import { createLocale } from 'i18n';

const { t, h } = createLocale(Astro.url.pathname);

const title = t.common.title;
const description = t.common.description;
---

<Layout title={title} description={description} shortlink="/">
  <Container gap="1.5rem">
    <section class="profile-section">
      <Avatar />
      <Title title="Lucas Josino" margin="0.2em 0" fontSize="1.4em" />
      <span>{t.common.title}</span>
      <span>Java · Spring Boot</span>
      <p class="profile-description">
        <a href={h('/about/')} set:html={t.home.welcome} />
      </p>
      <Socials hasTitle={false} />
    </section>
    <Divider width="80%" margin="0" />
    <Posts />
    <Projects />
  </Container>
</Layout>

<style>
  .profile-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .profile-description a {
    color: var(--description-text-color);
    margin: 0.5rem;
    line-height: 1.5em;
    gap: 0.2em;
  }
</style>
