---
import Description from '@components/core/Description.astro';
import Divider from '@components/core/Divider.astro';
import ProjectCard from '@components/core/Project/ProjectCard.astro';
import Title from '@components/core/Title.astro';
import Container from '@components/data/Container.astro';
import Layout from '@layouts/Layout.astro';
import { getAllProjects } from '@lib/projects';
import { useLocale } from 'i18n';

const { locale, t } = useLocale(Astro.url.pathname);
const projects = await getAllProjects(true, locale);

const title = t('projects.title');
const description = t('projects.description');
---

<Layout title={title} description={description} shortlink="/projects">
  <Container>
    <Title title={title} fontSize="2.5em" />
    <Description value={description} margin="0.5rem 0" width="80%" />
    <Divider height="1px" width="80%" />

    <div class="projects-list">
      {projects.map((data) => <ProjectCard project={data} descSize="1em" />)}
    </div>
  </Container>
</Layout>

<style>
  .projects-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
</style>

<script>
  import mediumZoom from 'medium-zoom';
  mediumZoom(document.querySelectorAll('img') as NodeListOf<HTMLImageElement>, {
    background: '#000000e0',
  });
</script>
