---
import Description from '@components/core/Description.astro';
import Divider from '@components/core/Divider.astro';
import ProjectCard from '@components/core/Project/ProjectCard.astro';
import Title from '@components/core/Title.astro';
import Container from '@components/data/Container.astro';
import { projects } from '@constants/projects';
import Layout from '@layouts/Layout.astro';
import { useLocale } from 'i18n';

const { t } = useLocale(Astro.url.pathname);

const title = t('projects.title');
const description = t('projects.description');
---

<Layout title={title} description={description} shortlink="/projects">
  <Container>
    <Title title={title} fontSize="2.5em" />
    <Description value={description} margin="0" width="80%" />
    <Divider height="1px" width="80%" />

    <div class="projects-list">
      {
        projects.map((data) => (
          <ProjectCard project={data} titleSize="1.2em" descSize="1em" />
        ))
      }
    </div>
  </Container>
</Layout>

<style>
  .projects-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>

<script>
  import mediumZoom from 'medium-zoom';
  mediumZoom(document.querySelectorAll('img') as NodeListOf<HTMLImageElement>, {
    background: '#000000e0',
  });
</script>
