---
import headConfig from '@constants/head';

export interface Props {
  title: string;
  description: string;
  banner?: string;
  robots?: string;
  shortlink?: string;
}

const { title, description, banner, robots, shortlink } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Configurations -->
    <meta charset="UTF-8" />
    <meta http-equiv="content-language" content="en-US" />
    <meta http-equiv="content-type" content="text/html" />

    <!-- Default  -->
    <meta name="copyright" content={headConfig.copyright} />
    <meta
      name="description"
      content={description + headConfig.endDescription}
    />
    <meta name="author" content={headConfig.name} />
    <meta name="tags" content={headConfig.tags} />
    <meta name="keywords" content={headConfig.tags} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content={robots ?? headConfig.robots} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content={headConfig.social} />
    <meta name="twitter:site" content={headConfig.social} />
    <meta name="twitter:domain" content={Astro.site} />
    <meta name="twitter:title" content={title + ' | ' + headConfig.name} />
    <meta
      name="twitter:description"
      property="og:description"
      itemprop="description"
      content={description + headConfig.endDescription}
    />
    <meta
      property="twitter:image"
      itemprop="image primaryImageOfPage"
      content={Astro.site + (banner ?? headConfig.banner)}
    />

    <!-- Open Graph -->
    <meta property="og:url" content={Astro.site} />
    <meta property="og:title" content={title + ' | ' + headConfig.name} />
    <meta property="og:site_name" content={headConfig.name} />
    <meta
      property="og:description"
      content={description + headConfig.endDescription}
    />
    <meta property="og:type" content="portfolio" />
    <meta
      property="og:image"
      content={Astro.site + (banner ?? headConfig.banner)}
    />

    <!-- Links -->
    {
      shortlink && (
        <link
          rel="shortlink"
          type="text/html"
          href={headConfig.shortLink + shortlink}
        />
      )
    }
    <link
      rel="alternative"
      href={headConfig.alternative + Astro.url.pathname}
    />
    <link rel="canonical" href={headConfig.canonical + Astro.url.pathname} />

    <!-- Icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href={`${Astro.site}apple-touch-icon.png`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href={`${Astro.site}favicon-32x32.png`}
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href={`${Astro.site}favicon-16x16.png`}
    />
    <link
      rel="icon"
      href={`${Astro.site}favicon.ico`}
      media="(prefers-color-scheme:no-preference)"
    />
    <link
      rel="icon"
      href={`${Astro.site}favicon-light.ico`}
      media="(prefers-color-scheme:dark)"
    />
    <link
      rel="icon"
      href={`${Astro.site}favicon.ico`}
      media="(prefers-color-scheme:light)"
    />

    <!-- Astro -->
    <meta name="generator" content={Astro.generator} />

    <!-- Title -->
    <title>{title + ' | ' + headConfig.name}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <style>
      :root {
        /* Global */
        --primary-color: #f0f0f0;
        --secondary-color: #dfdfdd;

        --contrast-color: #000;

        --divider-color: #000;

        --border-color: #000;
        --border-size: 1px;

        --primary-text-color: #000;
        --secondary-text-color: #fff;

        /* Border radius */
        --border-radius: 10px;
        --layout-border-radius: 20px;

        /* Transition */
        --transition-duration: 0.2s;
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --primary-color: #111111;
          --secondary-color: #181818;

          --contrast-color: #fff;

          --divider-color: #fff;

          --border-color: #fff;

          --primary-text-color: #fff;
          --secondary-text-color: #121212;
        }
      }

      html,
      body {
        padding: 0;
        margin: 0;
        font-family:
          -apple-system,
          BlinkMacSystemFont,
          Segoe UI,
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          Fira Sans,
          Droid Sans,
          Helvetica Neue,
          sans-serif;
        background-color: var(--primary-color);
        color: var(--primary-text-color);
        --scroll-behavior: smooth !important;
        scroll-behavior: smooth !important;
        scroll-padding-top: 2rem;
      }

      /* Scroll */
      :global(::-webkit-scrollbar) {
        width: 7px;
        background-color: var(--secondary-color);
      }

      :global(::-webkit-scrollbar-thumb) {
        background-color: var(--contrast-color);
      }

      * {
        box-sizing: border-box;
      }

      main {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      :global([astro-icon]) {
        fill: var(--primary-text-color);
        color: var(--primary-text-color);
        transition: all var(--transition-duration);
      }

      :global(a) {
        color: var(--primary-text-color);
        text-decoration: none;
      }

      :global(p) {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }

      :global(h1) {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }
    </style>
  </body>
</html>
