---
import LinkBox from '@components/LinkBox.astro';
import Title from '@components/Title.astro';
import { social } from '@constants/linkBox';
---

<div class="socials">
  <Title title="Socials" fontSize="1.3em" />
  <div class="socials-container">
    <LinkBox height={social.height} width={social.width} />
    <LinkBox height={social.height} width={social.width} />
    <LinkBox height={social.height} width={social.width} />
    <LinkBox height={social.height} width={social.width} />
  </div>
</div>

<style>
  .socials {
    height: fit-content;
    width: 80%;
  }

  .socials-container {
    display: flex;
    justify-content: space-between;
  }
</style>
