---
import { Icon } from 'astro-icon/components';

interface Props {
  href: string;
  alt: string;
  icon?: string;
  iconSide?: 'left' | 'right';
  iconSize?: string;
  title?: string;
  id?: string;
  isLocal?: boolean;
  padding?: string;
  titleId?: string;
  event?: string;
  gridColumn?: string;
}

const {
  href,
  alt,
  icon,
  iconSide = 'left',
  iconSize = '1.2em',
  title,
  id,
  isLocal = true,
  padding = '0.8rem',
  titleId,
  event,
  gridColumn,
} = Astro.props as Props;

const attr = { 'data-umami-event': event };
---

<a
  href={href}
  rel={isLocal ? undefined : 'noopener noreferrer'}
  target={isLocal ? undefined : '_blank'}
  title={alt}
  id={id}
  class="link-box"
  {...attr}
>
  {icon && iconSide === 'left' && <Icon name={icon} />}
  {title && <span id={titleId}>{title}</span>}
  {icon && iconSide === 'right' && <Icon name={icon} />}
</a>

<style define:vars={{ padding, iconSize, gridColumn }}>
  .link-box {
    height: min-content;
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
    gap: 0.5rem;
    padding: var(--padding);
    grid-column: var(--gridColumn);
  }

  .link-box:hover {
    border: var(--border-size) solid var(--primary-color);
    background-color: var(--contrast-color);
    color: var(--primary-color);
    cursor: pointer;
  }

  .link-box:hover > [data-icon] {
    fill: var(--secondary-text-color);
    color: var(--secondary-text-color);
  }

  [data-icon] {
    font-size: var(--iconSize);
  }
</style>
