---
import { Icon } from 'astro-icon';

interface Props {
  href: string;
  alt: string;
  icon?: string;
  iconSide?: 'left' | 'right';
  iconSize?: string;
  title?: string;
  id?: string;
  isLocal?: boolean;
  padding?: string;
  titleId?: string;
}

const {
  href,
  alt,
  icon,
  iconSide = 'left',
  iconSize = '18',
  title,
  id,
  isLocal = true,
  padding = '0.8rem',
  titleId,
} = Astro.props as Props;
---

<a
  href={href}
  rel={isLocal ? undefined : 'noopener noreferrer'}
  target={isLocal ? undefined : '_blank'}
  title={alt}
  id={id}
  class="link-box"
>
  {icon && iconSide === 'left' && <Icon name={icon} size={iconSize} />}
  {title && <span id={titleId}>{title}</span>}
  {icon && iconSide === 'right' && <Icon name={icon} size={iconSize} />}
</a>

<style define:vars={{ padding }}>
  .link-box {
    border: var(--border-size) solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all var(--transition-duration);
    gap: 0.5rem;
    padding: var(--padding);
  }

  .link-box:hover {
    border: var(--border-size) solid var(--primary-color);
    background-color: var(--border-color);
    color: var(--primary-color);
    cursor: pointer;
  }

  .link-box:hover > [astro-icon] {
    fill: var(--secondary-text-color);
    color: var(--secondary-text-color);
  }
</style>
