---
import Icon from 'astro-icon';

interface Props {
  href: string;
  alt: string;
  title?: string;
  isLocal?: boolean;
  icon?: string;
  iconSide?: 'left' | 'right';
  iconSize?: string;
  hasBorderBottom?: boolean;
}

const {
  href,
  alt,
  title,
  isLocal = true,
  icon,
  iconSide = 'left',
  iconSize = '18',
  hasBorderBottom = true,
} = Astro.props as Props;

const borderBottom = hasBorderBottom ? 'var(--border-color)' : 'transparent';
---

<a
  href={href}
  title={alt}
  rel={isLocal ? undefined : 'noopener noreferrer'}
  target={isLocal ? undefined : '_blank'}
  class="link"
>
  {icon && iconSide === 'left' && <Icon name={icon} size={iconSize} />}
  {title && <span>{title}</span>}
  {icon && iconSide === 'right' && <Icon name={icon} size={iconSize} />}
</a>

<style define:vars={{ borderBottom }}>
  .link {
    border-bottom: var(--border-size) solid transparent;
    transition: all var(--transition-duration);
    cursor: pointer;
  }

  .link:hover {
    border-bottom: var(--border-size) solid var(--borderBottom);
    transition: all var(--transition-duration);
  }

  .link:hover > [astro-icon] {
    fill: gray;
    color: gray;
  }
</style>
