---
import { Icon } from 'astro-icon/components';

interface Props {
  href: string;
  alt: string;
  title?: string;
  isLocal?: boolean;
  gap?: string;
  icon?: string;
  iconSide?: 'left' | 'right';
  iconSize?: string;
  hasBorderBottom?: boolean;
  animatedIcon?: boolean;
  reverseAnimation?: boolean;
  event?: string;
}

const {
  href,
  alt,
  title,
  isLocal = true,
  gap = '0.6rem',
  icon,
  iconSide = 'left',
  iconSize = '1.2em',
  hasBorderBottom = true,
  animatedIcon = false,
  reverseAnimation = false,
  event,
} = Astro.props as Props;

const attr = { 'data-umami-event': event };

const borderBottom = hasBorderBottom ? 'var(--border-color)' : 'transparent';

const currentGap = reverseAnimation ? '0' : gap;
const animatedGap = animatedIcon
  ? reverseAnimation
    ? '0.6rem'
    : '0.2rem'
  : gap;
const iconColor = animatedIcon ? 'var(--constrast-color)' : 'gray';
---

<a
  href={href}
  title={alt}
  rel={isLocal ? undefined : 'noopener noreferrer'}
  target={isLocal ? undefined : '_blank'}
  class="link-data"
  {...attr}
>
  {icon && iconSide === 'left' && <Icon name={icon} />}
  {title ? <span>{title}</span> : <slot />}
  {icon && iconSide === 'right' && <Icon name={icon} />}
</a>

<style
  define:vars={{ borderBottom, currentGap, animatedGap, iconColor, iconSize }}
>
  .link-data {
    border-bottom: var(--border-size) solid transparent;
    transition: all var(--transition-duration);
    cursor: pointer;
    gap: var(--currentGap);
    display: flex;
  }

  .link-data:hover {
    border-bottom: var(--border-size) solid var(--borderBottom);
    gap: var(--animatedGap);
  }

  .link-data:hover > [data-icon] {
    fill: var(--iconColor);
    color: var(--iconColor);
  }

  [data-icon] {
    font-size: var(--iconSize);
  }
</style>
